@model WebApplication1.Models.acao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>acao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.selecionarProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.selecionarProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adicionarAcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adicionarAcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statusAcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statusAcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProjeto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAcao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
